@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
.fondo {
  background-image: url(/imagenes/fondo1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  z-index: 1;
}
.fondo__Normas {
  backdrop-filter: blur(7px);
  background-image: url(/imagenes/fondo2.jpg);
  background-size: cover;
}
.fondo__Nosotros {
  background-image: url(/imagenes/fondo2.jpg);
}
.fondo__Clientes {
  backdrop-filter: blur(7px);
  background-image: url(/imagenes/fondo1.jpg);
}

.header {
  z-index: 3;
  font-family: "Amatic SC";
  font-size: 20px;
  color: black;
}
.header__nav {
  background-color: rgba(201, 195, 195, 0.7);
}
.header__div {
  font-family: "Amatic SC";
  font-size: 20px;
  color: black;
  -webkit-text-stroke: 1px black;
  letter-spacing: 2px;
  border-bottom: 5px solid black;
  background-color: #4da9a1;
}

.footer {
  z-index: 3;
  background-color: rgba(201, 195, 195, 0.6);
}
.footer__address {
  font-family: "Amatic SC";
  font-size: 1.5vw;
  color: black;
}

.tabla__div__info {
  height: 300px;
  overflow-y: scroll;
  background-color: rgba(201, 195, 195, 0.7);
  padding: 20px;
  padding-top: 30px;
}

.section__Home {
  z-index: 3;
  text-align: center;
  width: 70%;
  height: 60%;
  clip-path: polygon(0% 0%, 100% 13%, 100% 50%, 100% 87%, 0% 100%);
  background-color: rgba(77, 169, 161, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__Home__titulo1 {
  font-family: "Acme";
  font-size: 60px;
  color: white;
  text-shadow: 10px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 0.5px black;
}
.section__Home__titulo2 {
  font-family: "Amatic SC";
  font-size: 20px;
  color: black;
}
.section__Home__titulo3 {
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.section__Formulario {
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  z-index: 3;
}
.section__Clientes {
  height: 60vh;
  margin-top: 20px;
}
.section__Nosotros {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-bottom: 0px;
}
.section__Normas1 {
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  z-index: 3;
  margin-bottom: 30px;
  margin-top: 30px;
}
.section__Normas2 {
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  z-index: 3;
  margin-bottom: 20px;
}

.list-group a.active {
  background-color: rgba(77, 169, 161, 0.8);
  border: 0.5px solid black;
}

.botonContacto button {
  background-color: #4da9a1;
}

@media screen and (max-width: 576px) {
  .section__Normas1 {
    display: none;
  }

  .section__Home__titulo1 {
    font-family: "Acme";
    font-size: 40px;
    color: white;
    text-shadow: 10px 5px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.5px black;
  }

  .footer__address {
    font-size: 15px;
  }
}
.contenedor__Home {
  position: fixed;
  background-color: white;
  width: 85%;
  height: 100vh;
  clip-path: polygon(0 0, 86% 0, 56% 100%, 0% 100%);
  z-index: 2;
}

.contenedor__Nosotros {
  position: fixed;
  background-color: #4da9a1;
  width: 100%;
  height: 100%;
  clip-path: polygon(79% 71%, 100% 0%, 100% 100%, 23% 100%);
  z-index: 2;
}

.menu li {
  position: relative;
  display: inline-block;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.menu li:after {
  content: "";
  display: block;
  background-color: #4da9a1;
  width: 100%;
  margin: 1px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 1s;
}
.menu li:hover {
  --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.divPersona {
  background-color: #ebe1e1;
  border-radius: 5px;
  box-shadow: inset 5px -5px 10px black;
  z-index: 3;
  margin-top: 10px;
  margin-bottom: 10px;
  height: fit-content;
}
.divPersona__foto img {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  z-index: 5;
}
.divPersona__info {
  font-family: "Amatic SC";
  font-size: 1.5vw;
  color: black;
}
.divPersona__info__links img {
  width: 30px;
  border-radius: 0%;
  z-index: 5;
}

.cardServicios {
  font-family: "Amatic SC";
  font-size: 15px;
  color: black;
  z-index: 3;
  margin-bottom: 20px;
}
.cardServicios__div {
  border-radius: 5px;
  box-shadow: inset 5px -5px 10px black;
}
.cardServicios__div__img {
  width: 100px;
  height: 100px;
}

.grupoCarsouel {
  font-family: "Amatic SC";
  font-size: 16px;
  color: black;
  z-index: 4;
  height: 90%;
  width: 80%;
  padding-top: 30px;
}
.grupoCarsouel__imagen {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  object-position: center center;
  max-width: 100%;
  height: 250px;
}
.grupoCarsouel__texto {
  background-color: rgba(201, 195, 195, 0.8);
}

.carousel-item {
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
