.grupoCarsouel {
	@include formatoTexto($fuente1, 15px, 'negro');
	z-index:4;
	height: 90%;
	width: 80%;
	padding-top: 30px;
	&__imagen {
		height: 250px;
		margin-left: auto;
		margin-right: auto;
		object-position: center center;
	}

	&__texto {
		background-color: reduceColor('gris', 80%);
	}
}

.carousel-item{
	height: 100%;
}