@media screen and (max-width: 576px) {
    
    .section__Normas1 {
        display: none;
    }

    .section__Home {
        &__titulo1 {
            
            @include formatoTexto($fuente2, 40px, 'blanco');
            text-shadow: 10px 5px reduceColor('negro', 80%);
            -webkit-text-stroke: 0.5px colorPaleta('negro');
        }
    }
    
    .footer__address {
        font-size: 15px;
    }
    
    

}

