$paletaDeColores: (
    'verde': rgb(77, 169, 161),
    'gris': rgb(201, 195, 195),
    'grisClaro': rgb(235, 225, 225),
    'blanco': white,
    'negro': black,
    'rosa': rgb(200, 86, 108),
    'naranja': rgb(247, 195, 51),
    'trigo': rgb(250, 238, 217),
);

$fuente1: 'Amatic SC';
$fuente2: 'Acme';

$animationSpeed: 40s;
$cantidadClientes: 4;